<div class="c">
  <div class="c-bg"></div>
    <div class="container">
      <div class="c-wrapper">
        <div class="c-left">
          <h1 class="c-title">You can contact me!</h1>
          <div class="c-info">
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
              +234 8157682281
            </div>
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
              braindona@gmail.com
            </div>
            <div class="c-info-item">
              <img [src]="" alt="" class="c-icon">
              Lagos, Nigeria
            </div>
          </div>
        </div>
        <div class="c-right">
          <p class="c-desc">
            <b>What's your story? </b> ipsum dolor sit amet consectetur adipisicing elit. Neque, deleniti.
          </p>
          <form>
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="subject" id="subject" placeholder="Subject">
            <input type="email" name="email" id="email" placeholder="Email">
            <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>