
<div class="about">
  <div class="about-left">
    <div class="about-card bg"></div>
    <div class="about-card">
      <img src="https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image" class="a-img">
    </div>
  </div>
  <div class="about-right">
    <h1 class="about-title">Know Me</h1>
    <p class="about-sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, porro?</p>
    <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, officiis vel. Vitae atque cupiditate qui eos facere voluptas, esse possimus? Distinctio atque ipsam voluptate quasi sequi, temporibus magni tempore omnis.</p>
    <div class="about-award">
      <div>
        <img src="https://images.pexels.com/photos/6532598/pexels-photo-6532598.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Image">
      </div>
      <div class="award-texts">
        <h4 class="award-title">Internation Recognition</h4>
        <p class="award-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, ullam!</p>
      </div>
    </div>
  </div>
</div>