<div class="intro">
  <div class="intro-left">
    <div class="left-wrapper">
      <h2 class="intro-n">Hello, My name is</h2>
      <h2 class="intro-name">Okwe Donatus <span></span></h2>
      <div class="intro-title">
        <div class="intro-title-wrapper">
          <div class="intro-title-item">Web Developer</div>
          <div class="intro-title-item">UI/UX Designer</div>
          <div class="intro-title-item">Photographer</div>
          <div class="intro-title-item">Writer</div>
          <div class="intro-title-item">Content Creator</div>
        </div>
      </div>
      <div class="intro-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui dolore voluptas consequatur deserunt unde nobis rerum nostrum, culpa maiores!
      </div>
    </div>
  </div>
  <div class="intro-right">
    <div class="clip-path"></div>
    <img src="../../../assets/images/portraitImg.jpg" alt="">
  </div>
</div>